<h1>Pedidos</h1>
<ul>
  <% @orders.each do |order| %>
    <li>
      <strong>Pedido #<%= order.id %></strong> - Status: <%= order.status %> - Peso: <%= order.total_weight %>kg
      <%= link_to "Ver detalhes", order_path(order), class: "text-blue-500" %>
    </li>
  <% end %>
</ul>
